<div>
  <div className="nav">
    <h1>
      <!-- <Route to="/">Katie Bevington</Route> -->
      Katie Bevington
    </h1>
    <ul>
      <li>
        <!-- <Route to="/links">Links</Route> -->
        Links
      </li>
      <li>
        <!-- <Route to="/weight-loss">Weight Loss</Route> -->
        Weight Loss
      </li>
      <li>
        <!-- <Route to="/work-with-me">Work with me</Route> -->
        Work with me
      </li>
      <li>
        <!-- <Route to="/contact">Contact</Route> -->
        Contact
      </li>
    </ul>
  </div>
</div>
