* {
  background-color: rgba(248,243,237,255);
  font-family: 'Cormorant', serif;
}

.nav {
  display: flex;
  align-items: center;
}

nav h1 a{
  color: rgba(163,130,108,255);
  text-decoration: none;
}

ul {
  list-style-type: none;
  display: flex;
}

li {
  margin-right: 20px;
}

nav ul li a{
  text-decoration: none;
  color: black;

}

nav ul li a:hover{
  color: rgba(163,130,108,255);
}

.hero {
  display: inline-block;
  width: 100%;
  margin: 0;
}

.hero img {
  width: 100%;
  opacity: 90%;
  margin: 0;
}

.meetKatie, .meetKatie h2, .meetKatie p{
  background-color: rgba(163,130,108,255);
  color: rgba(251,251,250,255);
  padding: 4px;
  margin: 0;
}

